body{
    box-sizing:border-box;
}
p{
    padding-left:3rem;
    color:rgba(152, 152, 223, 0.686);
}
.nav{
    display:flex;
    height:50px;
   
}
ul{
     display:flex; 
    list-style: none;
}
li{
    display:inline-block;
    padding:1rem;
    margin:1rem;
    color:grey;
}
.right{ 
    display:inline-block;
     flex:3; 
     display:flex; 
 } 
.a{
    flex:1;
}
.b{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex:3;
}
.c{
    flex:1;
}
button{
    background-color:#2DD35C;
    height:36px;
    width:5rem;
    border-radius:0.2rem;
}